[Unit]
Description=Omada Guest Network Checker
After=network.target
After=network-online.target

[Service]
WorkingDirectory=/opt/omada-guest-network-checker
ExecStart=/root/.nvm/nvm-exec npm start
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target